#wrap
  margin: 10px auto
  width: 800px
  font-size: 13px
  font-family: Georgia, "Lucida Grande", "Lucida Sans Unicode", helvetica, verdana, arial, times, "Times New Roman", sans-serif

#add
  width: 60px
  height: 35px
  text-align: center
  background: #37E
  border: 0
  border-radius: 5px
  font-size: 20px
  font-weight: bold
  color: white
  &:hover
    background: #48F
    cursor: pointer
